.value-img {
    max-width: 400px;
    max-height: 400px;
    height: 400px;
    width: 400px;
}

.slider {
    display: flex;
    width: 100%;
    transition: transform 0.5s ease-in-out;
}

.slider-container {
    max-width: 960px;
    overflow: hidden;
}

.slide {
    flex-shrink: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.slide img {
    max-width: 450px;
    display: block;
}

/* Tab Navigation styles */
.tabs-container {
    padding: 0.1px;
    background-color: #e7e7e700;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 400px;
}

/* ... (continue with rest of slider styles) */